@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto:wght@400;700&family=Rubik:wght@600&display=swap');

.container {
    display: flex;
    flex-direction: column;  /* Keeps items in a vertical stack */
    align-items: center;  /* Center items horizontally */
    justify-content: center;  /* Center items vertically */
    margin-top: 50px;
}

.searchContainer {
    display: flex;  /* Aligns children (input and button) inline */
    margin-top: 10px;
    width: auto;  /* Adjust width as needed based on content */
}

.searchInput {
    padding: 10px;
    width: 999px;  /* You can adjust the width as needed */
    background-color: #d3d3d3;
    border: 1px solid #bbb;
    border-right: none;  /* Seamless transition to button */
    margin-right: 8px;  /* Adjust this value to increase or decrease spacing */
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.searchButton {
    padding: 10px 20px;
    background-color: #527A54;  
    color: white;
    border: 1px solid #bbb;
    cursor: pointer;  /* Pointer on hover */
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}

.page-title {
    font-family: 'Poppins', sans-serif;
    color: #527A54;
    margin-top: 50px;
}

.titleImage {
    width: 100%; /* Adjust width as needed, or set to a fixed width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures no inline whitespace */
    margin: 20px auto; /* Adds vertical space and centers horizontally */
}

.description {
    width: 1231px;  /* Set the width to 1231 pixels */
    height: auto;  /* Set the height to 152 pixels */
    overflow: auto;  /* Add scrollbars if content overflows */
    padding: 10px;  /* Optional: adds padding inside the box */
    box-sizing: border-box; /* Include padding in the height and width calculation */
    font-family: 'Poppins', sans-serif;
    align-items: center;  /* Centers text vertically */
    justify-content: center;  /* Centers text horizontally */
    text-align: center;  /* Aligns text center horizontally for each line */
}

.section-two {
    font-family: 'Poppins', sans-serif;
    color: #527A54;
}