@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto:wght@400;700&family=Rubik:wght@600&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    padding: 2px 8px; 
    font-family: 'Poppins', sans-serif;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 80px;
    height: auto;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 50px; 
  }
  
  .nav-link {
    color: black; 
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: green;  /* Change color to green on hover */
}
.logout-link:hover {
  color: red;  /* Sets the text color to red */
}
  
  .active {
    color: green; 
  }
  